.btn {
  width: 130px;
  height: 35px;
  font-size: 14px;
  border-radius: 35px;
  background-color: #2d343e;
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  position: relative;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  overflow: hidden;
}

.card_header {
  justify-content: center;
}
