.card-container {
  width: 100%;
}

.card-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  width: 100%;
  padding: 5%;
  padding-top: 3%;
  padding-left: 8%;
}

.heading {
  padding-left: 7%;
  font-size: 2rem;
}
