.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: 40%;
  margin-left: -50vw;
  padding-bottom: 10%;
  position: relative;
}

.contact-row {
  z-index: -1;
  height: 800px !important;
}

.form-control {
  padding: 10px;
  margin: 15px;
  width: 400px;
}

.contact-img {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: -1;
}

.contact-form {
  padding-top: 10%;
  padding-left: 30%;
  display: flex;
  align-items: center;
}

.letUsKnow {
  padding-bottom: 5%;
}

.send_button {
  margin-top: 0;
}
