.main-footer {
  background: #232323;
  padding: 4%;
}

.container-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30%;
  margin-left: 20%;
  color: white;
}

.footer_cc {
  margin-right: 40%;
  font-weight: 10;
  margin-top: 3%;
  color: white;
  margin-left: 0;
}

.footer_logo {
  margin-top: 6%;
  margin-right: 42%;
  width: 15%;
  color: white;
}
