.main-footer {
  background: #232323;
  padding: 4%;
}

.container {
  align-items: center;
  justify-content: center;
  height: 30%;
  color: white;
}

.footer_cc {
  margin-left: 40%;
  font-weight: 10;
  margin-top: 3%;
  color: white;
  margin-left: 0;
}

.footer_logo {
  margin-top: 6%;
  margin-left: 5%;
  width: 15%;
  color: white;
}
