.sign__in {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: space-between;
  margin-left: 20%;
  margin-top: 10%;

  .form {
    display: flex;
    flex-direction: column;
    margin-left: 7%;
    margin-top: 10%;
  }
}

.row {
  height: 100%;
  width: 100%;
}
